<section class="container-fluid">
  <section [hidden]="thereAreBooksToDisplay()">
    <p>No books available. <a routerLink="/book-mgmt/book">Add a new one</a>.</p>
  </section>
  <section [hidden]="!thereAreBooksToDisplay()">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of currentBooks">
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
        <td><a [routerLink]="['/book-mgmt/book', book.id]">Details</a></td>
      </tr>
      </tbody>
    </table>
  </section>
</section>
