<md-card class="book-details">
  <form #bookForm="ngForm" (ngSubmit)="save()" [class.ng-submitted]="submitted" novalidate>
    <div class="row">
      <md-input #title name="titleField" [(ngModel)]="currentBook.title" required maxlength="50" placeholder="Title"
                [dividerColor]="getErrorColorIfFieldNotValid('titleField')">
        <md-hint class="error-msg" align="start">
          {{getErrorMessageOfField('titleField')}}
        </md-hint>
        <md-hint align="end">
          {{title.characterCount}} / 50
        </md-hint>
      </md-input>

      <md-input #author name="authorField" [(ngModel)]="currentBook.author" required maxlength="15" placeholder="Author"
                [dividerColor]="getErrorColorIfFieldNotValid('authorField')">
        <md-hint class="error-msg" align="start">
          {{getErrorMessageOfField('authorField')}}
        </md-hint>
        <md-hint align="end">
          {{author.characterCount}} / 15
        </md-hint>
      </md-input>
    </div>
    <div class="row">
      <button md-raised-button color="primary" type="submit" >Save</button>
    </div>
  </form>
</md-card>
