<section class="book-details container-fluid">
  <form #bookForm="ngForm" (ngSubmit)="save()" [class.ng-submitted]="submitted" novalidate>
    <div class="row">
      <div class="col-md-1 col-sm-3 col-xs-4 form-label">
        <label for="title">Title:</label>
      </div>
      <div class="col-md-3 col-sm-5 col-xs-6">
        <input id="title" name="titleField" type="text" [(ngModel)]="currentBook.title" required maxlength="50">
        <span class="error-msg">
          {{ getErrorMessageOfField('titleField') }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1 col-sm-3 col-xs-4 form-label">
        <label for="author">Author:</label>
      </div>
      <div class="col-md-3 col-sm-5 col-xs-6">
        <input id="author" name="authorField" type="text" [(ngModel)]="currentBook.author" required maxlength="15">
        <span class="error-msg">
          {{ getErrorMessageOfField('authorField') }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1 col-sm-3 col-xs-4">
      </div>
      <div class="col-md-3 col-sm-5 col-xs-6">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</section>
